{% extends 'base.html.twig' %}

{% block js %}
    {{ parent() }}
    <!-- Page  JS files -->
    <script src="{{ asset('assets/js/login.js') }}"></script>
    <!-- /theme JS files -->
{% endblock %}

{% block body %}
	<div class="page-content login-cover">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">
				<!-- Login form -->
				{{ form_start(loginForm, {'attr': {'class': 'login-form'}}) }}
					<div class="card mb-0">
						<div class="card-body">

							<div class="text-center mb-3">
								<i class="icon-people icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Login to your account</h5>
								<span class="d-block text-muted">Your credentials</span>
							</div>

                            {% if error %}
                                <div class="text-center mb-3">
                                    <span class="form-text text-danger">
                                        <i class="icon-cancel-circle2 mr-2"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </span>
                                </div>
                            {% endif %}

							<div class="form-group form-group-feedback form-group-feedback-left">
                                {{ form_widget(loginForm.email, {'attr': {'class': 'form-control'}}) }}
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								{{ form_widget(loginForm.password, {'attr': {'class': 'form-control'}}) }}
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>
                            
							<div class="form-group d-flex align-items-center">
								<div class="form-check mb-0">
									<label class="form-check-label">
										<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
										Remember
									</label>
								</div>

								<a href="#" class="ml-auto">Forgot password?</a>
							</div>

							<div class="form-group">
                                {{ form_widget(loginForm.submit, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
							</div>

							<div class="form-group text-center text-muted content-divider">
								<span class="px-2">Demo account</span>
							</div>

							<span class="form-text text-center">
                                Email : tester@gmail.com <br/>
                                Password : I@mTheT€ster
							</span>

                            <div class="form-group text-center text-muted content-divider"><span class="px-2"></span></div>
							<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our
								<a href="#">Terms &amp; Conditions</a>
								and
								<a href="#">Cookie Policy</a>
							</span>
						</div>
					</div>
				{{ form_end(loginForm) }}
				<!-- /login form -->
			</div>
			<!-- /content area -->
		</div>
		<!-- /main content -->
	</div>
{% endblock %}
