<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Interview-symfony{% endblock %}
		</title>
		<!-- Global stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" rel="stylesheet">
		<link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/css/bootstrap_limitless.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/css/layout.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/css/colors.min.css') }}" rel="stylesheet" type="text/css">
		<!-- /global stylesheets -->

		{% block js %}
		<!-- Core JS files -->
		<script src="{{ asset('assets/js/jquery.min.js') }}"> </script>
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/js/plugins/blockui.min.js') }}"></script>
		<script src="{{ asset('assets/js/plugins/slinky.min.js') }}"></script>
		<script src="{{ asset('assets/js/plugins/fab.min.js') }}"></script>
		<script src="{{ asset('assets/js/plugins/ripple.min.js') }}"></script>
		<script src="{{ asset('assets/js/plugins/uniform.min.js') }}"></script>
		<script src="{{ asset('assets/js/plugins/pnotify.min.js') }}"></script>
		<!-- /core JS files -->

		<!-- Theme JS files -->
		<script src="{{ asset('assets/js/app.js') }}"></script>
		<script src="{{ asset('assets/js/custom.js') }}"></script>
		<!-- /theme JS files -->
		{% endblock %}
	</head>
	<body class="{% block body_class %}{% endblock %}"> 

		{% set success = app.flashes('success') %}
		{% set error = app.flashes('error') %}

		{% if success is not empty or error is not empty %}
		<div id="flash-messages" hidden
			data-success='{{ success|json_encode|e("html_attr") }}'
			data-error='{{ error|json_encode|e("html_attr") }}'>
		</div>
		{% endif %}

	    {% block body %}{% endblock %}
		{% block footer %}{% endblock %}
    </body>
</html>
